# VSCode
/.vscode/

# Jetbrains IDEs
/.idea/

# Package Managers
/node_modules/
/yarn.lock
/pnpm-lock.yaml
/package-lock.json

# Svelte
/.svelte-kit/
/build/
/package/

# Vite
/vite.config.js.timestamp-*
/vite.config.ts.timestamp-*

# OS Files
.DS_Store
Thumbs.db

# Other
/.env
